<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="web.config" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="D:\Python39\python.exe|D:\Python39\Scripts\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="python -m gunicorn --workers 4 --worker-class sync --timeout 600 --access-logfile - --error-logfile - --bind=0.0.0.0:%HTTP_PLATFORM_PORT% app:app" startupTimeLimit="60" startupRetryCount="2">
    </httpPlatform>
  </system.webServer>
</configuration>
